@import 'globals/reset.styl';
@import 'globals/colors.styl';
@import 'globals/typography.styl';
@import 'globals/layout.styl';


@import 'blocks/header.styl';
@import 'blocks/deck.styl';
@import 'blocks/hero.styl';
@import 'blocks/main-content.styl';
@import 'blocks/section-one.styl';
@import 'blocks/footer.styl';
@import 'blocks/form.styl';

.content-box {
  height: 250px;
  width: 33.33%;
  display: inline-block;
  color: white;
  padding: 10px 5px;
  box-sizing: border-box;
}

.content-box:hover {
  filter: brightness(120%);
}

.content-left {
  float: left;
  background-color: #90BFDB;
}

.content-center {
  background-color: #5c5cd6;
}

.content-right {
  float: right;
  background-color: #00394d;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  border-bottom: 2px solid #2C5662;
  margin-bottom: 10px;
}

.para-1 {
  padding-bottom: 30px;
}

.para-break {
  height: 500px;
  transition: filter 500ms linear;
}

.para-break:hover {
  filter: blur(2px);
  transition: filter 500ms linear;
}

.para-2 {
  padding-top: 30px;
}