.hero {
  background-image: url(../../images/hero.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /*background-attachment: fixed;*/
  height: 300px;
}
